<menu>
    <VPN>
        <Mihomo VisibleName="Mihomo" cssClass="fa fa-shield fa-fw" order="900">
            <Dashboard VisibleName="Dashboard" order="10" url="/ui/mihomo/dashboard"/>
            <Configuration VisibleName="Configuration" order="20" url="/ui/mihomo/configuration"/>
        </Mihomo>
    </VPN>
</menu>
